/* font-family: 'Diphylleia', serif; */


@import url('https://fonts.googleapis.com/css2?family=Moirai+One&display=swap');

@font-face {
    font-family: 'DOSPilgiMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/DOSPilgiMedium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.nunu{
    font-family: 'DOSPilgiMedium';
}


.google{
    font-family: 'Moirai One', cursive;   
}



.font-link{
    font-family: 'Diphylleia', serif;
}


@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Diphylleia&display=swap');

.font-import{
    font-family: 'Bagel Fat One', cursive;
}

@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.noonnu-font{
    font-family: 'GoryeongStrawberry', serif;
}*2

/* 문자 장식 */

.container{
    width: 500px;
    background-color:aliceblue;
}

.sentences{
    font-weight: 700;
    font-size: 1em;

    text-align: center;

    text-decoration:line-through;
    text-decoration: underline;
    text-decoration: overline;
}

a{
    text-decoration: none;
    color:black;
}


