.div1{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: skyblue;
    line-height: 100px;
}

/*가상 클래스 선택자
 -hover, active, visited, focus, checked
    -E(선택자): hover{} : 요소에 마우스가 올라가 있는 동안
    -E:active{} : 요소에 마우스클릭 or 엔터가 눌리는 동안
    -E: focus{} : 요소에 포커그사 머물러 있는 동안
    -E: visitied{} : 요소가 링크일 때, 방문했다면 스타일 변경(a태그)
    -E: checked{} : 요소가 체크되었을 때(radio / checkbox)
    */

    .div1:hover{
        background-color: yellow;
        height: 150px;
    }

    .div1:active{
        background-color: orange;
        width: 150px;
    }

    input:focus{
        background-color: blueviolet;
        color: white;
        outline-color: aqua;
    }

    a:visited{
        color: #ccc;
    }

    input#rabbit:checked + label{
        background-color: pink;
        color: white;
    }

    /*
    
    -E: first-child : E가 첫번째 자식이라면 선택
    -E: last-child : E가 마지막 자식이라면 선택
    -E: nth-child(n): E가 n번째 자식이라면 선택, n에는 숫자, 수식 둘 다 가능
    -E: nth-of-type(n): E요소 중에 n번째를 선택
    -E: not(XYZ): XYZ가 아닌 E 요소를 선택

    */

    .zoo > *{
      background-color: green;
      color:white;
      font-size: 20px;
     }

    .zoo > li:last-child{
        background-color: black;
    }
    
    .zoo > li:first-child{
        background-color: yellow;
    }

    .zoo > li:nth-of-type(1){
        background-color: blue;
    }

    .zoo > *:first-child{
        background-color: yellowgreen;
    }

    .zoo > li:nth-child(2n+1){
        background-color: pink;
    }

    /* 가상 요소 선택자
after, ::before */

.h3{
    background-color: yellow;
}

.h3::after{
    content:"after";
    color:gray;
}

.h3::before{
    content:"";
    display: inline-block;
    width: 2px;
    height: 50px;
    background-color: red;
}

.box::after{
    content:"빨리";
}

.box::before{
    content:"택시";
}


