@mixin square1 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
}

@mixin circle($circleColor, $circleOpacity) {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid gray;
  display: inline-block;
  background-color: $circleColor;
  opacity: $circleOpacity;
}

@mixin square2(
  $squareBgColor: orange,
  $squareFontSize: 16px,
  $SquareFontColor: gray
) {
  @include square1();
  line-height: 100px;
  text-align: center;
  background-color: $squareBgColor;
  font-size: $squareFontSize;
  color: $SquareFontColor;

  @if $squareBgColor==yellow {
    border-radius: 50%;
    opacity: 0.2;
  } @else if $squareBgColor==black {
    border-radius: 30%;
  } @else {
    border-radius: 10%;
  }
}
