.box2 {
  background-color: bisque;
}

.box2 div {
  background-color: pink;
  width: 150px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}

/* 여러개 지정  */
.first {
  color: darkorange;
  font-size: 1.5rem;
}

.second {
  background-color: black;
  border: 1px solid darkorange;
}

.stateVal2 {
  border-radius: 10px;
}
