
.orange{
    background-color: blue;
}

ul > .orange{
    background-color: orange;
}

#carrot{
    background-color: green;
}

.apple ~ li{
    background-color: red;
}

.apple + li{
    background-color: aqua;
}