.ball {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  animation-name: ball;
  animation-duration: 2s;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
}

/* @keyframes ball {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(calc(100vw - 100px), 0);
  }

  50% {
    transform: translate (calc(100vw - 100px), 0, calc(100vh -100px));
  }

  75% {
    transform: translate(0, calc(100vh -100px));
  }

  100% {
    transform: translate(0, 0);
  }
} */

@keyframes ball {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: calc(100vw - 100px);
    top: calc(100vh - 100px);
  }
  75% {
    left: 0;
    top: calc(100vh - 100px);
  }
  100% {
    top: 0;
    left: 0;
  }
}
