.background-image {
  /*background: red;*/
  width: 500px;
  height: 800px;
  border: 1px solid black;

  background-image: url("/img/small.png");

  background-repeat: repeat-x;
  /*background repeat
  -repeat (default) :x축, y축으로 반복
  -repeat-x: x축으로만 반복
  -repeat-y: y축으로만 반복
  -no-repeat: 반복하지 않아요*/

  background-position: center;
  background-position: center top;
  background-position: 100px 100px;

  /*background-position
  - 이미지의 위치를 지정
  - 첫번째로 오는 속성은 x축, 두번째로 오는 속성은 y축
  - 키워드 (top, botttom, left, right, center) / 단위와 함께 쓰는*/

  background-size 50px;
  background-size: 100px 300px;
  background-size:contain;
  background-size:cover;
  /*단위, contain, cover*/
  background-attachment: fixed;
}
