h3:hover{
    background-color: black;
    color:white;
}

textarea:focus{
    background-color: pink;
    }


input#red:checked + label{
    background-color: red;
    color:white;
}

input#blue:checked + label{
    background-color: blue;
    color:white;
}

input#yellow:checked + label{
    background-color: yellow;
    color:black;
}