p.lion{
    background-color: red;
}

ul > .lion{
    background-color: greenyellow;
}

#tiger{
    background-color: yellow;
}

.lion{
    color: sienna;
}

#tiger + li{
    background-color: skyblue;
}

li.lion ~ li{
    background-color: orange;
}

span ~ .lion{
    font-weight: bold;
}